Accounting/Client/Service References/AccountingSoap/meta12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Accounting/Host.svc/Metadatas/meta1?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost/Accounting/Host.svc/Metadatas/meta1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfcurrency3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="currency" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcurrency3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcurrency3NGJg2ZT" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfentity3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="entity" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfentity3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfentity3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfinvoice3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="invoice" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinvoice3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfinvoice3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_invoiceActionType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_invoiceActionType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_invoiceActionType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_invoiceActionType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_invoiceStatus3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_invoiceStatus" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_invoiceStatus3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_invoiceStatus3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfinvoiceAction3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="invoiceAction" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinvoiceAction3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfinvoiceAction3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_sysActionType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_sysActionType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_sysActionType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_sysActionType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfsysAction3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="sysAction" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfsysAction3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfsysAction3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfaccount3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="account" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaccount3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfaccount3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOftransaction3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="transaction" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOftransaction3NGJg2ZT" nillable="true" type="tns:EntityReferenceOftransaction3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_transferActionType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_transferActionType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_transferActionType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_transferActionType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_transferStatus3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_transferStatus" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_transferStatus3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_transferStatus3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfcard3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="card" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcard3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcard3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_ccCardType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_ccCardType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_ccCardType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_ccCardType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfccCard3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ccCard" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfccCard3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfccCard3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfdebitCard3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="debitCard" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfdebitCard3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfdebitCard3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_cardType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_cardType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_cardType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_cardType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfexternalTransfer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="externalTransfer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfexternalTransfer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfexternalTransfer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfcreditTransfer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="creditTransfer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcreditTransfer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcreditTransfer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfdebitTransfer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="debitTransfer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfdebitTransfer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfdebitTransfer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_externalTsfrType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_externalTsfrType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_externalTsfrType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_externalTsfrType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOftransfer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="transfer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOftransfer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOftransfer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfinternalTransfer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="internalTransfer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinternalTransfer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfinternalTransfer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_transferType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_transferType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_transferType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_transferType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOftransferAction3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="transferAction" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOftransferAction3NGJg2ZT" nillable="true" type="tns:EntityReferenceOftransferAction3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfaddress3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="address" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaddress3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfaddress3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfcarrier3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="carrier" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcarrier3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcarrier3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_contactType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_contactType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_contactType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_contactType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfcontact3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="contact" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcontact3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcontact3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOforganization3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="organization" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOforganization3NGJg2ZT" nillable="true" type="tns:EntityReferenceOforganization3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfcustomer3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="customer" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcustomer3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfcustomer3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_deliverableType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_deliverableType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_deliverableType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_deliverableType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfdeliverable3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="deliverable" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfdeliverable3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfdeliverable3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOforder3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="order" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOforder3NGJg2ZT" nillable="true" type="tns:EntityReferenceOforder3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfproduct3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="product" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfproduct3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfproduct3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfservice3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="service" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfservice3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfservice3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfsupplier3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="supplier" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfsupplier3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfsupplier3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_currencyType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_currencyType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_currencyType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_currencyType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_glType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_glType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_glType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_glType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_catType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_catType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_catType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_catType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOflu_entityType3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="lu_entityType" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOflu_entityType3NGJg2ZT" nillable="true" type="tns:EntityReferenceOflu_entityType3NGJg2ZT" />
  <xs:complexType name="EntityReferenceOfperson3NGJg2ZT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="person" Namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfperson3NGJg2ZT" nillable="true" type="tns:EntityReferenceOfperson3NGJg2ZT" />
</xs:schema>