Accounting/Client/Service References/AccountingSoap/meta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Accounting.Definition.Structure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Structure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Accounting/Host.svc/Metadatas/meta1?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" minOccurs="0" name="PERSON" nillable="true" type="q1:person" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" minOccurs="0" name="ENTITY" nillable="true" type="q2:entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="Deliverable">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" minOccurs="0" name="_deliverable" nillable="true" type="q3:deliverable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Deliverable" nillable="true" type="tns:Deliverable" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" minOccurs="0" name="INV" nillable="true" type="q4:invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
</xs:schema>