Accounting/Client/Service References/AccountingSoap/meta11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Accounting.Definition.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Accounting/Host.svc/Metadatas/meta1?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="entity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="account" nillable="true" type="tns:account" />
          <xs:element minOccurs="0" name="accountReference" nillable="true" type="q1:EntityReferenceOfaccount3NGJg2ZT" />
          <xs:element minOccurs="0" name="accounts" nillable="true" type="tns:ArrayOfaccount" />
          <xs:element minOccurs="0" name="card" nillable="true" type="tns:card" />
          <xs:element minOccurs="0" name="cardReference" nillable="true" type="q1:EntityReferenceOfcard3NGJg2ZT" />
          <xs:element minOccurs="0" name="deliverable" nillable="true" type="tns:deliverable" />
          <xs:element minOccurs="0" name="deliverableReference" nillable="true" type="q1:EntityReferenceOfdeliverable3NGJg2ZT" />
          <xs:element minOccurs="0" name="entityCards" nillable="true" type="tns:ArrayOfentityCard" />
          <xs:element minOccurs="0" name="entityTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="invoice" nillable="true" type="tns:invoice" />
          <xs:element minOccurs="0" name="invoiceReference" nillable="true" type="q1:EntityReferenceOfinvoice3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_entityType" nillable="true" type="tns:lu_entityType" />
          <xs:element minOccurs="0" name="lu_entityTypeReference" nillable="true" type="q1:EntityReferenceOflu_entityType3NGJg2ZT" />
          <xs:element minOccurs="0" name="order" nillable="true" type="tns:order" />
          <xs:element minOccurs="0" name="orderReference" nillable="true" type="q1:EntityReferenceOforder3NGJg2ZT" />
          <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforder" />
          <xs:element minOccurs="0" name="orders1" nillable="true" type="tns:ArrayOforder" />
          <xs:element minOccurs="0" name="organization" nillable="true" type="tns:organization" />
          <xs:element minOccurs="0" name="organizationReference" nillable="true" type="q1:EntityReferenceOforganization3NGJg2ZT" />
          <xs:element minOccurs="0" name="person" nillable="true" type="tns:person" />
          <xs:element minOccurs="0" name="personReference" nillable="true" type="q1:EntityReferenceOfperson3NGJg2ZT" />
          <xs:element minOccurs="0" name="transaction" nillable="true" type="tns:transaction" />
          <xs:element minOccurs="0" name="transactionReference" nillable="true" type="q1:EntityReferenceOftransaction3NGJg2ZT" />
          <xs:element minOccurs="0" name="transfer" nillable="true" type="tns:transfer" />
          <xs:element minOccurs="0" name="transferReference" nillable="true" type="q1:EntityReferenceOftransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="transfers" nillable="true" type="tns:ArrayOftransfer" />
          <xs:element minOccurs="0" name="transfers1" nillable="true" type="tns:ArrayOftransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="entity" nillable="true" type="tns:entity" />
  <xs:complexType name="account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="balance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="catTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="currency" nillable="true" type="tns:currency" />
          <xs:element minOccurs="0" name="currencyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="currencyReference" nillable="true" type="q2:EntityReferenceOfcurrency3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1Reference" nillable="true" type="q2:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q2:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_catType" nillable="true" type="tns:lu_catType" />
          <xs:element minOccurs="0" name="lu_catTypeReference" nillable="true" type="q2:EntityReferenceOflu_catType3NGJg2ZT" />
          <xs:element minOccurs="0" name="ownerEntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transactions" nillable="true" type="tns:ArrayOftransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="account" nillable="true" type="tns:account" />
  <xs:complexType name="currency">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="accounts" nillable="true" type="tns:ArrayOfaccount" />
          <xs:element minOccurs="0" name="currencyTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="invoices" nillable="true" type="tns:ArrayOfinvoice" />
          <xs:element minOccurs="0" name="lu_currencyType" nillable="true" type="tns:lu_currencyType" />
          <xs:element minOccurs="0" name="lu_currencyTypeReference" nillable="true" type="q3:EntityReferenceOflu_currencyType3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transfers" nillable="true" type="tns:ArrayOftransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="currency" nillable="true" type="tns:currency" />
  <xs:complexType name="ArrayOfaccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="account" nillable="true" type="tns:account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaccount" nillable="true" type="tns:ArrayOfaccount" />
  <xs:complexType name="ArrayOfinvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invoice" nillable="true" type="tns:invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinvoice" nillable="true" type="tns:ArrayOfinvoice" />
  <xs:complexType name="invoice">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="currency" nillable="true" type="tns:currency" />
          <xs:element minOccurs="0" name="currencyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="currencyReference" nillable="true" type="q4:EntityReferenceOfcurrency3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q4:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="invoiceActions" nillable="true" type="tns:ArrayOfinvoiceAction" />
          <xs:element minOccurs="0" name="invoiceTransfers" nillable="true" type="tns:ArrayOfinvoiceTransfer" />
          <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="order" nillable="true" type="tns:order" />
          <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="orderReference" nillable="true" type="q4:EntityReferenceOforder3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="invoice" nillable="true" type="tns:invoice" />
  <xs:complexType name="ArrayOfinvoiceAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceAction" nillable="true" type="tns:invoiceAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinvoiceAction" nillable="true" type="tns:ArrayOfinvoiceAction" />
  <xs:complexType name="invoiceAction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="invoice" nillable="true" type="tns:invoice" />
          <xs:element minOccurs="0" name="invoiceActionTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceReference" nillable="true" type="q5:EntityReferenceOfinvoice3NGJg2ZT" />
          <xs:element minOccurs="0" name="invoiceStatusID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_invoiceActionType" nillable="true" type="tns:lu_invoiceActionType" />
          <xs:element minOccurs="0" name="lu_invoiceActionTypeReference" nillable="true" type="q5:EntityReferenceOflu_invoiceActionType3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_invoiceStatus" nillable="true" type="tns:lu_invoiceStatus" />
          <xs:element minOccurs="0" name="lu_invoiceStatusReference" nillable="true" type="q5:EntityReferenceOflu_invoiceStatus3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sysAction" nillable="true" type="tns:sysAction" />
          <xs:element minOccurs="0" name="sysActionReference" nillable="true" type="q5:EntityReferenceOfsysAction3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="invoiceAction" nillable="true" type="tns:invoiceAction" />
  <xs:complexType name="lu_invoiceActionType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceActions" nillable="true" type="tns:ArrayOfinvoiceAction" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_invoiceActionType" nillable="true" type="tns:lu_invoiceActionType" />
  <xs:complexType name="lu_invoiceStatus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceActions" nillable="true" type="tns:ArrayOfinvoiceAction" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_invoiceStatus" nillable="true" type="tns:lu_invoiceStatus" />
  <xs:complexType name="sysAction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceAction" nillable="true" type="tns:invoiceAction" />
          <xs:element minOccurs="0" name="invoiceActionReference" nillable="true" type="q8:EntityReferenceOfinvoiceAction3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_sysActionType" nillable="true" type="tns:lu_sysActionType" />
          <xs:element minOccurs="0" name="lu_sysActionTypeReference" nillable="true" type="q8:EntityReferenceOflu_sysActionType3NGJg2ZT" />
          <xs:element minOccurs="0" name="sysActionTransactions" nillable="true" type="tns:ArrayOfsysActionTransaction" />
          <xs:element minOccurs="0" name="sysActionTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transferAction" nillable="true" type="tns:transferAction" />
          <xs:element minOccurs="0" name="transferActionReference" nillable="true" type="q8:EntityReferenceOftransferAction3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sysAction" nillable="true" type="tns:sysAction" />
  <xs:complexType name="lu_sysActionType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sysActions" nillable="true" type="tns:ArrayOfsysAction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_sysActionType" nillable="true" type="tns:lu_sysActionType" />
  <xs:complexType name="ArrayOfsysAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sysAction" nillable="true" type="tns:sysAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsysAction" nillable="true" type="tns:ArrayOfsysAction" />
  <xs:complexType name="ArrayOfsysActionTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sysActionTransaction" nillable="true" type="tns:sysActionTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsysActionTransaction" nillable="true" type="tns:ArrayOfsysActionTransaction" />
  <xs:complexType name="sysActionTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="sysAction" nillable="true" type="tns:sysAction" />
          <xs:element minOccurs="0" name="sysActionID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sysActionReference" nillable="true" type="q10:EntityReferenceOfsysAction3NGJg2ZT" />
          <xs:element minOccurs="0" name="transaction" nillable="true" type="tns:transaction" />
          <xs:element minOccurs="0" name="transactionID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transactionReference" nillable="true" type="q10:EntityReferenceOftransaction3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sysActionTransaction" nillable="true" type="tns:sysActionTransaction" />
  <xs:complexType name="transaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="account" nillable="true" type="tns:account" />
          <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="accountReference" nillable="true" type="q11:EntityReferenceOfaccount3NGJg2ZT" />
          <xs:element minOccurs="0" name="amount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q11:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="sysActionTransactions" nillable="true" type="tns:ArrayOfsysActionTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="transaction" nillable="true" type="tns:transaction" />
  <xs:complexType name="transferAction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="lu_transferActionType" nillable="true" type="tns:lu_transferActionType" />
          <xs:element minOccurs="0" name="lu_transferActionTypeReference" nillable="true" type="q12:EntityReferenceOflu_transferActionType3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_transferStatus" nillable="true" type="tns:lu_transferStatus" />
          <xs:element minOccurs="0" name="lu_transferStatusReference" nillable="true" type="q12:EntityReferenceOflu_transferStatus3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sysAction" nillable="true" type="tns:sysAction" />
          <xs:element minOccurs="0" name="sysActionReference" nillable="true" type="q12:EntityReferenceOfsysAction3NGJg2ZT" />
          <xs:element minOccurs="0" name="transfer" nillable="true" type="tns:transfer" />
          <xs:element minOccurs="0" name="transferActionTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transferID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transferReference" nillable="true" type="q12:EntityReferenceOftransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="transferStatusID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="transferAction" nillable="true" type="tns:transferAction" />
  <xs:complexType name="lu_transferActionType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transferActions" nillable="true" type="tns:ArrayOftransferAction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_transferActionType" nillable="true" type="tns:lu_transferActionType" />
  <xs:complexType name="ArrayOftransferAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transferAction" nillable="true" type="tns:transferAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransferAction" nillable="true" type="tns:ArrayOftransferAction" />
  <xs:complexType name="lu_transferStatus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q14:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transferActions" nillable="true" type="tns:ArrayOftransferAction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_transferStatus" nillable="true" type="tns:lu_transferStatus" />
  <xs:complexType name="transfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q15:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="amount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="currency" nillable="true" type="tns:currency" />
          <xs:element minOccurs="0" name="currencyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="currencyReference" nillable="true" type="q15:EntityReferenceOfcurrency3NGJg2ZT" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1Reference" nillable="true" type="q15:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity2" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity2Reference" nillable="true" type="q15:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q15:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="externalTransfer" nillable="true" type="tns:externalTransfer" />
          <xs:element minOccurs="0" name="externalTransferReference" nillable="true" type="q15:EntityReferenceOfexternalTransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="internalTransfer" nillable="true" type="tns:internalTransfer" />
          <xs:element minOccurs="0" name="internalTransferReference" nillable="true" type="q15:EntityReferenceOfinternalTransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="invoiceTransfers" nillable="true" type="tns:ArrayOfinvoiceTransfer" />
          <xs:element minOccurs="0" name="issuerEntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_transferType" nillable="true" type="tns:lu_transferType" />
          <xs:element minOccurs="0" name="lu_transferTypeReference" nillable="true" type="q15:EntityReferenceOflu_transferType3NGJg2ZT" />
          <xs:element minOccurs="0" name="receiverEntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transferActions" nillable="true" type="tns:ArrayOftransferAction" />
          <xs:element minOccurs="0" name="transferTypeID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="transfer" nillable="true" type="tns:transfer" />
  <xs:complexType name="externalTransfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q16:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="card" nillable="true" type="tns:card" />
          <xs:element minOccurs="0" name="cardID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cardReference" nillable="true" type="q16:EntityReferenceOfcard3NGJg2ZT" />
          <xs:element minOccurs="0" name="creditTransfer" nillable="true" type="tns:creditTransfer" />
          <xs:element minOccurs="0" name="creditTransferReference" nillable="true" type="q16:EntityReferenceOfcreditTransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="debitTransfer" nillable="true" type="tns:debitTransfer" />
          <xs:element minOccurs="0" name="debitTransferReference" nillable="true" type="q16:EntityReferenceOfdebitTransfer3NGJg2ZT" />
          <xs:element minOccurs="0" name="externalTsfrTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_externalTsfrType" nillable="true" type="tns:lu_externalTsfrType" />
          <xs:element minOccurs="0" name="lu_externalTsfrTypeReference" nillable="true" type="q16:EntityReferenceOflu_externalTsfrType3NGJg2ZT" />
          <xs:element minOccurs="0" name="transfer" nillable="true" type="tns:transfer" />
          <xs:element minOccurs="0" name="transferReference" nillable="true" type="q16:EntityReferenceOftransfer3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="externalTransfer" nillable="true" type="tns:externalTransfer" />
  <xs:complexType name="card">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q17:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cardTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ccCard" nillable="true" type="tns:ccCard" />
          <xs:element minOccurs="0" name="ccCardReference" nillable="true" type="q17:EntityReferenceOfccCard3NGJg2ZT" />
          <xs:element minOccurs="0" name="debitCard" nillable="true" type="tns:debitCard" />
          <xs:element minOccurs="0" name="debitCardReference" nillable="true" type="q17:EntityReferenceOfdebitCard3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityCards" nillable="true" type="tns:ArrayOfentityCard" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q17:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="externalTransfers" nillable="true" type="tns:ArrayOfexternalTransfer" />
          <xs:element minOccurs="0" name="lu_cardType" nillable="true" type="tns:lu_cardType" />
          <xs:element minOccurs="0" name="lu_cardTypeReference" nillable="true" type="q17:EntityReferenceOflu_cardType3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="card" nillable="true" type="tns:card" />
  <xs:complexType name="ccCard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q18:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="card" nillable="true" type="tns:card" />
          <xs:element minOccurs="0" name="cardReference" nillable="true" type="q18:EntityReferenceOfcard3NGJg2ZT" />
          <xs:element minOccurs="0" name="ccCardTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_ccCardType" nillable="true" type="tns:lu_ccCardType" />
          <xs:element minOccurs="0" name="lu_ccCardTypeReference" nillable="true" type="q18:EntityReferenceOflu_ccCardType3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ccCard" nillable="true" type="tns:ccCard" />
  <xs:complexType name="lu_ccCardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q19:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ccCards" nillable="true" type="tns:ArrayOfccCard" />
          <xs:element minOccurs="0" name="debitCards" nillable="true" type="tns:ArrayOfdebitCard" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_ccCardType" nillable="true" type="tns:lu_ccCardType" />
  <xs:complexType name="ArrayOfccCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ccCard" nillable="true" type="tns:ccCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfccCard" nillable="true" type="tns:ArrayOfccCard" />
  <xs:complexType name="ArrayOfdebitCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="debitCard" nillable="true" type="tns:debitCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdebitCard" nillable="true" type="tns:ArrayOfdebitCard" />
  <xs:complexType name="debitCard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q20:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="card" nillable="true" type="tns:card" />
          <xs:element minOccurs="0" name="cardReference" nillable="true" type="q20:EntityReferenceOfcard3NGJg2ZT" />
          <xs:element minOccurs="0" name="ccCardTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_ccCardType" nillable="true" type="tns:lu_ccCardType" />
          <xs:element minOccurs="0" name="lu_ccCardTypeReference" nillable="true" type="q20:EntityReferenceOflu_ccCardType3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="debitCard" nillable="true" type="tns:debitCard" />
  <xs:complexType name="ArrayOfentityCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entityCard" nillable="true" type="tns:entityCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentityCard" nillable="true" type="tns:ArrayOfentityCard" />
  <xs:complexType name="entityCard">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q21:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="card" nillable="true" type="tns:card" />
          <xs:element minOccurs="0" name="cardID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="cardReference" nillable="true" type="q21:EntityReferenceOfcard3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q21:EntityReferenceOfentity3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="entityCard" nillable="true" type="tns:entityCard" />
  <xs:complexType name="ArrayOfexternalTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="externalTransfer" nillable="true" type="tns:externalTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfexternalTransfer" nillable="true" type="tns:ArrayOfexternalTransfer" />
  <xs:complexType name="lu_cardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q22:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="cards" nillable="true" type="tns:ArrayOfcard" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_cardType" nillable="true" type="tns:lu_cardType" />
  <xs:complexType name="ArrayOfcard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="card" nillable="true" type="tns:card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcard" nillable="true" type="tns:ArrayOfcard" />
  <xs:complexType name="creditTransfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q23:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="externalTransfer" nillable="true" type="tns:externalTransfer" />
          <xs:element minOccurs="0" name="externalTransferReference" nillable="true" type="q23:EntityReferenceOfexternalTransfer3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="creditTransfer" nillable="true" type="tns:creditTransfer" />
  <xs:complexType name="debitTransfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q24:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="externalTransfer" nillable="true" type="tns:externalTransfer" />
          <xs:element minOccurs="0" name="externalTransferReference" nillable="true" type="q24:EntityReferenceOfexternalTransfer3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="debitTransfer" nillable="true" type="tns:debitTransfer" />
  <xs:complexType name="lu_externalTsfrType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q25:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="externalTransfers" nillable="true" type="tns:ArrayOfexternalTransfer" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_externalTsfrType" nillable="true" type="tns:lu_externalTsfrType" />
  <xs:complexType name="internalTransfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q26:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="transfer" nillable="true" type="tns:transfer" />
          <xs:element minOccurs="0" name="transferReference" nillable="true" type="q26:EntityReferenceOftransfer3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="internalTransfer" nillable="true" type="tns:internalTransfer" />
  <xs:complexType name="ArrayOfinvoiceTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceTransfer" nillable="true" type="tns:invoiceTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinvoiceTransfer" nillable="true" type="tns:ArrayOfinvoiceTransfer" />
  <xs:complexType name="invoiceTransfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q27:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="invoice" nillable="true" type="tns:invoice" />
          <xs:element minOccurs="0" name="invoiceID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="invoiceReference" nillable="true" type="q27:EntityReferenceOfinvoice3NGJg2ZT" />
          <xs:element minOccurs="0" name="transfer" nillable="true" type="tns:transfer" />
          <xs:element minOccurs="0" name="transferID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="transferReference" nillable="true" type="q27:EntityReferenceOftransfer3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="invoiceTransfer" nillable="true" type="tns:invoiceTransfer" />
  <xs:complexType name="lu_transferType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q28:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transfers" nillable="true" type="tns:ArrayOftransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_transferType" nillable="true" type="tns:lu_transferType" />
  <xs:complexType name="ArrayOftransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transfer" nillable="true" type="tns:transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransfer" nillable="true" type="tns:ArrayOftransfer" />
  <xs:complexType name="order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q29:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
          <xs:element minOccurs="0" name="addressID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="addressReference" nillable="true" type="q29:EntityReferenceOfaddress3NGJg2ZT" />
          <xs:element minOccurs="0" name="carrier" nillable="true" type="tns:carrier" />
          <xs:element minOccurs="0" name="carrierID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="carrierReference" nillable="true" type="q29:EntityReferenceOfcarrier3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity1Reference" nillable="true" type="q29:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity2" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entity2Reference" nillable="true" type="q29:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q29:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="invoices" nillable="true" type="tns:ArrayOfinvoice" />
          <xs:element minOccurs="0" name="issuerEntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="orderDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="orderDetails" nillable="true" type="tns:ArrayOforderDetail" />
          <xs:element minOccurs="0" name="receiverEntityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="shippedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="order" nillable="true" type="tns:order" />
  <xs:complexType name="address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q30:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="aptNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cityID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforder" />
          <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="provinceID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="streetNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="address" nillable="true" type="tns:address" />
  <xs:complexType name="ArrayOforder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="order" nillable="true" type="tns:order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforder" nillable="true" type="tns:ArrayOforder" />
  <xs:complexType name="carrier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q31="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q31:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="carrierContacts" nillable="true" type="tns:ArrayOfcarrierContact" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforder" />
          <xs:element minOccurs="0" name="organization" nillable="true" type="tns:organization" />
          <xs:element minOccurs="0" name="organizationReference" nillable="true" type="q31:EntityReferenceOforganization3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="carrier" nillable="true" type="tns:carrier" />
  <xs:complexType name="ArrayOfcarrierContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="carrierContact" nillable="true" type="tns:carrierContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcarrierContact" nillable="true" type="tns:ArrayOfcarrierContact" />
  <xs:complexType name="carrierContact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q32:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="carrier" nillable="true" type="tns:carrier" />
          <xs:element minOccurs="0" name="carrierID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="carrierReference" nillable="true" type="q32:EntityReferenceOfcarrier3NGJg2ZT" />
          <xs:element minOccurs="0" name="contact" nillable="true" type="tns:contact" />
          <xs:element minOccurs="0" name="contactID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="contactReference" nillable="true" type="q32:EntityReferenceOfcontact3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="carrierContact" nillable="true" type="tns:carrierContact" />
  <xs:complexType name="contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q33="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q33:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="carrierContacts" nillable="true" type="tns:ArrayOfcarrierContact" />
          <xs:element minOccurs="0" name="contactTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_contactType" nillable="true" type="tns:lu_contactType" />
          <xs:element minOccurs="0" name="lu_contactTypeReference" nillable="true" type="q33:EntityReferenceOflu_contactType3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="contact" nillable="true" type="tns:contact" />
  <xs:complexType name="lu_contactType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q34="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q34:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="contacts" nillable="true" type="tns:ArrayOfcontact" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_contactType" nillable="true" type="tns:lu_contactType" />
  <xs:complexType name="ArrayOfcontact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contact" nillable="true" type="tns:contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcontact" nillable="true" type="tns:ArrayOfcontact" />
  <xs:complexType name="organization">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q35:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="carrier" nillable="true" type="tns:carrier" />
          <xs:element minOccurs="0" name="carrierReference" nillable="true" type="q35:EntityReferenceOfcarrier3NGJg2ZT" />
          <xs:element minOccurs="0" name="customer" nillable="true" type="tns:customer" />
          <xs:element minOccurs="0" name="customerReference" nillable="true" type="q35:EntityReferenceOfcustomer3NGJg2ZT" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q35:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="supplier" nillable="true" type="tns:supplier" />
          <xs:element minOccurs="0" name="supplierReference" nillable="true" type="q35:EntityReferenceOfsupplier3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="organization" nillable="true" type="tns:organization" />
  <xs:complexType name="customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q36:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="organization" nillable="true" type="tns:organization" />
          <xs:element minOccurs="0" name="organizationReference" nillable="true" type="q36:EntityReferenceOforganization3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
  <xs:complexType name="supplier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q37="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q37:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverables" nillable="true" type="tns:ArrayOfdeliverable" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="organization" nillable="true" type="tns:organization" />
          <xs:element minOccurs="0" name="organizationReference" nillable="true" type="q37:EntityReferenceOforganization3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="supplier" nillable="true" type="tns:supplier" />
  <xs:complexType name="ArrayOfdeliverable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="deliverable" nillable="true" type="tns:deliverable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdeliverable" nillable="true" type="tns:ArrayOfdeliverable" />
  <xs:complexType name="deliverable">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q38="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q38:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverableTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q38:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="lu_deliverableType" nillable="true" type="tns:lu_deliverableType" />
          <xs:element minOccurs="0" name="lu_deliverableTypeReference" nillable="true" type="q38:EntityReferenceOflu_deliverableType3NGJg2ZT" />
          <xs:element minOccurs="0" name="orderDetails" nillable="true" type="tns:ArrayOforderDetail" />
          <xs:element minOccurs="0" name="product" nillable="true" type="tns:product" />
          <xs:element minOccurs="0" name="productReference" nillable="true" type="q38:EntityReferenceOfproduct3NGJg2ZT" />
          <xs:element minOccurs="0" name="service" nillable="true" type="tns:service" />
          <xs:element minOccurs="0" name="serviceReference" nillable="true" type="q38:EntityReferenceOfservice3NGJg2ZT" />
          <xs:element minOccurs="0" name="supplier" nillable="true" type="tns:supplier" />
          <xs:element minOccurs="0" name="supplierID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="supplierReference" nillable="true" type="q38:EntityReferenceOfsupplier3NGJg2ZT" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="deliverable" nillable="true" type="tns:deliverable" />
  <xs:complexType name="lu_deliverableType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q39:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverables" nillable="true" type="tns:ArrayOfdeliverable" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_deliverableType" nillable="true" type="tns:lu_deliverableType" />
  <xs:complexType name="ArrayOforderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderDetail" nillable="true" type="tns:orderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforderDetail" nillable="true" type="tns:ArrayOforderDetail" />
  <xs:complexType name="orderDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q40="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q40:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverable" nillable="true" type="tns:deliverable" />
          <xs:element minOccurs="0" name="deliverableID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="deliverableReference" nillable="true" type="q40:EntityReferenceOfdeliverable3NGJg2ZT" />
          <xs:element minOccurs="0" name="order" nillable="true" type="tns:order" />
          <xs:element minOccurs="0" name="orderID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="orderReference" nillable="true" type="q40:EntityReferenceOforder3NGJg2ZT" />
          <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="unitPrice" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="orderDetail" nillable="true" type="tns:orderDetail" />
  <xs:complexType name="product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q41:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverable" nillable="true" type="tns:deliverable" />
          <xs:element minOccurs="0" name="deliverableReference" nillable="true" type="q41:EntityReferenceOfdeliverable3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="product" nillable="true" type="tns:product" />
  <xs:complexType name="service">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q42="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q42:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="deliverable" nillable="true" type="tns:deliverable" />
          <xs:element minOccurs="0" name="deliverableReference" nillable="true" type="q42:EntityReferenceOfdeliverable3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="service" nillable="true" type="tns:service" />
  <xs:complexType name="lu_currencyType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q43:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="currencies" nillable="true" type="tns:ArrayOfcurrency" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_currencyType" nillable="true" type="tns:lu_currencyType" />
  <xs:complexType name="ArrayOfcurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="currency" nillable="true" type="tns:currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcurrency" nillable="true" type="tns:ArrayOfcurrency" />
  <xs:complexType name="lu_catType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q44="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q44:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="accounts" nillable="true" type="tns:ArrayOfaccount" />
          <xs:element minOccurs="0" name="glTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="lu_glType" nillable="true" type="tns:lu_glType" />
          <xs:element minOccurs="0" name="lu_glTypeReference" nillable="true" type="q44:EntityReferenceOflu_glType3NGJg2ZT" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_catType" nillable="true" type="tns:lu_catType" />
  <xs:complexType name="lu_glType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q45="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q45:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="lu_catType" nillable="true" type="tns:ArrayOflu_catType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_glType" nillable="true" type="tns:lu_glType" />
  <xs:complexType name="ArrayOflu_catType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lu_catType" nillable="true" type="tns:lu_catType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflu_catType" nillable="true" type="tns:ArrayOflu_catType" />
  <xs:complexType name="ArrayOftransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transaction" nillable="true" type="tns:transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransaction" nillable="true" type="tns:ArrayOftransaction" />
  <xs:complexType name="lu_entityType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q46:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="entities" nillable="true" type="tns:ArrayOfentity" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="lu_entityType" nillable="true" type="tns:lu_entityType" />
  <xs:complexType name="ArrayOfentity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entity" nillable="true" type="tns:entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfentity" nillable="true" type="tns:ArrayOfentity" />
  <xs:complexType name="person">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q47:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="entity" nillable="true" type="tns:entity" />
          <xs:element minOccurs="0" name="entityReference" nillable="true" type="q47:EntityReferenceOfentity3NGJg2ZT" />
          <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="users" nillable="true" type="tns:ArrayOfuser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="person" nillable="true" type="tns:person" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q48="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q48:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="person" nillable="true" type="tns:person" />
          <xs:element minOccurs="0" name="personID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="personReference" nillable="true" type="q48:EntityReferenceOfperson3NGJg2ZT" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
</xs:schema>